.navbar {
  background-color: white !important;
}

.navbar-nav {
  margin-left: auto;
}

.nav-name {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.navbar a {
  font-size: 18px;
  text-decoration: none !important;
  /* border: 3px solid red !important; */
}

.nav-link {
  border: 0px;
  border-bottom: 3px solid white;
}
.nav-link:hover {
  border-color: var(--blue) !important;
  color: var(--blue) !important;
}

@media (max-width: 450px) {
  .nav-link:hover {
    border-bottom: 3px solid white;
  }
}

.active-tab {
  /* border-bottom: 3px solid var(--blue) !important; */
  font-weight: 700 !important;
  color: var(--blue) !important;
}